# Check following file:
#   $HOME/.vim/bundle/vim-snippets/snippets/html.snippets

snippet <> "<... />" iA
<${1} />
endsnippet

# https://fontawesome.com/v4.7.0/ico
snippet ic "<i className='...' />"
<i className="${1}" />
endsnippet
