snippet $ "${...}" i
${${VISUAL}${1}}
endsnippet

snippet v "${VISUAL}" i
`!p snip.rv = '${VISUAL}'`
endsnippet

snippet v0 "${VISUAL}${0}" i
`!p snip.rv = '${VISUAL}${0}'`
endsnippet

snippet !p "python script" i
`!p snip.rv = '\`!p snip.rv = '`${VISUAL}${0}`!p snip.rv = '\`'`
endsnippet
